footer {
    background-color: #232323;
    color: #fff;
    height: 40px;
    font-family: 'Newsreader', serif;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}