<!--<div>
    <ng-lottie [options]="animationLogo" (animationCreated)="animationCreated($event)"></ng-lottie>
</div> -->


<!--<div>
    <ng-lottie [options]="animationHeader" (animationCreated)="animationCreated($event)"></ng-lottie>
</div>-->


<div class="header animate__animated animate__fadeIn">
    <ng-lottie class="animacion" [options]="animation2" (animationCreated)="animationCreated($event)"></ng-lottie>
    <ng-lottie class="animacion2" [options]="animation" (animationCreated)="animationCreated($event)"></ng-lottie>
</div>

<div class="presentation">
    <app-presentation></app-presentation>
</div>

<div class="schools">
    <app-education></app-education>
</div>

<div class="certificate">
    <app-certificate></app-certificate>
</div>


<div class="tecnicas">
    <app-hardskills></app-hardskills>
</div>

<div class="experiencia">
    <app-experiencia></app-experiencia>
</div>

<div class="language">
    <app-language></app-language>
</div>

<div class="animacionYo">
    <app-animacion></app-animacion>
</div>

<div class="skills">
    <app-softskills></app-softskills>
</div>

<div class="rs">
    <app-redes-sociales></app-redes-sociales>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>