<div class="contenedor">
    <img class="imgBG" src="/assets/images/background.jpg" alt="..">
    <div class="programming">
        <div class="name">
            <h1>{{name}}</h1>
        </div>
        <div class="cajita">
            <img class="img" src="/assets/images/programming/ai.png" alt="..">
        </div>
        <div class="cajita">
            <img class="img" src="/assets/images/programming/xd.png" alt="..">
        </div>
        <div class="cajitaG">
            <img class="imagenG" src="/assets/images/programming/unity.png" alt="..">
        </div>
        <div class="cajita">
            <img class="img" src="/assets/images/programming/ps.png" alt="..">
        </div>
        <div class="cajita">
            <img class="img" src="/assets/images/programming/ae.png" alt="..">
        </div>
        <div class="cajitaG">
            <img class="imagenG" src="/assets/images/programming/blender.png" alt="..">
        </div>
    </div>

</div>