<div class="nombre animate__animated animate__fadeInDown">
    <h1>Formación</h1>
</div>

<div class="logo animate__animated animate__fadeInLeft">
    <img src="../../../assets/images/logo-poli-blanco.png" alt="IPN">
</div>


<div class="education">

    <div class="contenedor">

        <h1 class="academica nombre animate__animated animate__fadeInDown">Académica</h1>

        <div class="institution">

            <hr>
            <h4 class="school">UPIICSA</h4>
            <p class="degree">Lic. en Ingeniería en informática</p>
            <h3 class="year">2016-2020</h3>

        </div>


        <div class="institution">

            <hr>
            <h4 class="school">Cecyt 14 "Luis Enrique Erro"</h4>
            <p class="degree">Técnico en informática</p>
            <h3 class="year">2013-2016</h3>

        </div>

    </div>

</div>