.animacion {
    margin: auto;
    width: 800px;
}

.contenedor {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.caja {
    color: #232323;
    font-size: 90px;
    text-align: center;
    width: 15%;
}

@media screen and (max-width: 1600px) {
    .animacion {
        width: 60%;
    }
}

@media screen and (max-width: 922px) {
    .animacion {
        width: 70%;
    }
    .contenedor {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 600px) {
    .animacion {
        width: 100%;
    }
    .caja {
        width: 35%;
        font-size: 70px;
    }
}

@media screen and (max-width: 440px) {
    .caja {
        font-size: 50px;
    }
}