<div class="animacion">
    <lottie-player id="RS" src="/assets/animations/yo/yoWebRS.json" autoplay></lottie-player>
</div>


<div class="contenedor">
    <a href="https://wa.me/525579354471?text=Hola%20,estoy%20interesado%20el%20en%20tu%20CV" class="caja animate__animated animate__bounceInUp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
    <a href="https://github.com/IlianaNe" class="caja animate__animated animate__bounceInUp" target="_blank"> <i class="fab fa-github"></i></a>
    <a href="https://artstation.com/mannonne" class="caja animate__animated animate__bounceInUp" target="_blank"> <i class="fab fa-artstation"></i></a>
    <a href="mailto:ruiziliana.a@gmail.com?Subject=Interesado%20en%20el%20CV" class="caja animate__animated animate__bounceInUp" target="_blank"> <i class="gmail far fa-envelope"></i></a>
</div>