.presentation {
    margin: auto;
    background: #fff;
    display: flex;
    justify-content: end;
}

.parrafo {
    width: 20%;
    position: absolute;
    z-index: 2;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

.parrafo h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    font-size: 50px;
    color: #232323;
    letter-spacing: .4em;
    text-align: center;
    margin-bottom: 50px;
}

.animacion {
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .parrafo h1 {
        font-size: 30px;
    }
    .parrafo {
        font-size: 15px;
        width: 30%;
    }
}

@media screen and (max-width: 922px) {
    .parrafo {
        width: 45%;
        margin-right: 50px;
    }
}