<div class="presentation">
    <ng-lottie class="animacion" [options]="animationPresentation" (animationCreated)="animationCreated($event)"></ng-lottie>

    <div class="parrafo">
        <div class="nombre animate__animated animate__fadeInDown">
            <h1>WELCOME</h1>
        </div>
        Hi, I'm Iliana!, IT engineer from UPIICSA - IPN, based in México City. I'm a videogames and programming big fan. This is my online resume, here I'd like to present you my knlowedge acquired througouht my career as a developer/programmer. Keep scrolling,
        please!
    </div>
</div>