<div class="presentation">
    <ng-lottie class="animacion" [options]="animationPresentation" (animationCreated)="animationCreated($event)"></ng-lottie>

    <div class="parrafo">
        <div class="nombre animate__animated animate__fadeInDown">
            <h1>Bienvenido</h1>
        </div>
        Hola, soy Iliana Ruiz, Ingeniera en Informática egresada del UPIICSA del IPN y fanática de la programación y los videojuegos. Este es mi CV Online, en donde te presento mis conocimientos adquiridos a los largo de mi carrera como programadora y desarrolladora.
        Continua haciendo Scroll por favor...
    </div>
</div>